/**
 * Heading mixins
 */

@mixin heading($size: XXL) {
    font-family: $secondary-font-family;
    font-weight: 400;
    line-height: $heading-line-height;

    @if $size == XXL {
        font-size: 30px;
        line-height: 1.2;

        @include breakpoints(sm) {
            font-size: 60px;
        }
        
        @include breakpoints(md) {
            font-size: 80px;
        }

        @include breakpoints(lg) {
            font-size: 120px;
        }
    }

    @if $size == XL {
        font-size: 22px;

        @include breakpoints(md) {
            font-size: 28px;
            line-height: 1.4;
        }
    }

    @if $size == L {
        font-size: 20px;

        @include breakpoints(md) {
            font-size: 26px;
        }
    }

    @if $size == M {
        font-size: 19px;

        @include breakpoints(md) {
            font-size: 24px;
        }
    }

    @if $size == S {
        font-size: 18px;

        @include breakpoints(md) {
            font-size: 22px;
        }
    }

    @if $size == XS {
        font-size: 16px;

        @include breakpoints(md) {
            font-size: 20px;
        }
    }

    @include breakpoints(md) {
        span {
            display: block;
        }
    }
}
