html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-family: $primary-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $color-primary;
    text-align: center;
    background-color: $color-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main__content {
    position: relative;
    z-index: 1;
}

.container {
    @include container;
}

img {
    @include img-responsive;
}
